.details_block {
	width: 90%;
	height: 100%;
	background: #483d8b;
	border: 0.2em solid black;
	padding: 0.5em;

}

.title_text {
	color: white;
	font-size: 3em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}

.detail_small_block {
	margin-bottom: 1em;
}

.name_text, .name_value {
	margin-left: auto;
	margin-right: auto;
	display: inline;
	color: white;
	font-size: 2em;
	text-align: center;
	text-transform: capitalize;
	padding-left: 4em;
}

.desc_text {
	float: left;
	margin-left: auto;
	margin-right: auto;
	display: inline;
	color: white;
	font-size: 2em;
	text-align: center;
	text-transform: capitalize;
	padding-left: 4em;
}

.desc_value {
	padding-left: 8em;
}

.like_bookmark_block {
	float: right;
}

.like_dislike_text {
	font-size: 1em;
	color: white;
	display: inline;
	padding: 1em;
}

.bookmark {
	float: right;
	vertical-align: middle;
}