@font-face {
  font-family: "LR-demi";
  src: url('../assets/fonts/LandRoverWeb-Demi.ttf') format("truetype");
}

@font-face {
  font-family: "LR-bold";
  src: url('../assets/fonts/LandRoverWeb-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "LR-light";
  src: url('../assets/fonts/LandRoverWeb-Light.ttf') format("truetype");
}